@use "../abstracts/mixins";

$min-button-size: 2.375rem;

.jenkins-icon-size {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--section-padding) 0;

  &__items {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    ol {
      position: relative;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style-type: none;
      gap: 0.25rem;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 0.8rem;
        background: var(--button-background);
        opacity: 0;
        transition: var(--standard-transition);
      }

      &:hover {
        &::before {
          inset: -0.2rem;
          opacity: 1;
        }
      }
    }

    li {
      .jenkins-button {
        margin: 0 !important;
        padding: 0 !important;
        min-width: 0 !important;
        aspect-ratio: 1;
        height: $min-button-size;
      }
    }

    .jenkins-icon-size__items-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1;
      height: $min-button-size;
      border-radius: var(--form-input-border-radius);
      font-weight: var(--btn-link-font-weight);
      font-size: var(--btn-font-size);
      background: var(--button-background--hover);
      cursor: default;
    }
  }
}

.jenkins-jobs-list {
  display: flex;
  flex-direction: column;
  border-radius: var(--form-input-border-radius);
  background: var(--card-background);
  border: var(--card-border-width) solid var(--card-border-color);

  &__item {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    transition: var(--standard-transition);
    box-shadow:
      0 0 0 0 transparent,
      0 0 0 0.5rem transparent;

    &:not(:last-of-type) {
      border-bottom: var(--card-border-width) solid var(--card-border-color);
    }

    &:hover {
      background: var(--card-background--hover);
    }

    &:active,
    &:has(.jenkins-jobs-list__item__details:focus) {
      border-bottom-color: transparent;
      border-radius: calc(var(--form-input-border-radius) / 2);
    }

    &:has(.jenkins-jobs-list__item__details:active) {
      background: var(--card-background--active);
      box-shadow:
        0 0 0 0.09375rem
          color-mix(
            in sRGB,
            var(--text-color-secondary) 20%,
            var(--card-background)
          ),
        0 0 0 0.34375rem
          color-mix(
            in sRGB,
            color-mix(
                in sRGB,
                var(--text-color-secondary) 15%,
                var(--card-background)
              )
              65%,
            transparent
          );
    }

    &:has(.jenkins-jobs-list__item__details:focus) {
      background: var(--card-background--active);
      box-shadow: 0 0 0 0.2rem var(--text-color) !important;
    }

    &:first-of-type {
      border-top-left-radius: calc(
        var(--form-input-border-radius) - var(--jenkins-border-width)
      ) !important;
      border-top-right-radius: calc(
        var(--form-input-border-radius) - var(--jenkins-border-width)
      ) !important;
    }

    &:last-of-type {
      border-bottom-left-radius: calc(
        var(--form-input-border-radius) - var(--jenkins-border-width)
      ) !important;
      border-bottom-right-radius: calc(
        var(--form-input-border-radius) - var(--jenkins-border-width)
      ) !important;
    }

    &__icons {
      pointer-events: none;
      color: var(--text-color);
      width: 1.375rem;
      height: 1.375rem;

      svg {
        width: 1.375rem;
        height: 1.375rem;
      }
    }

    &__details {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0.875rem;
      text-decoration: none !important;
      overflow: hidden;
      padding: 0.75rem 0.875rem;
      outline: none;
    }

    &__details__text {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      overflow: hidden;
    }

    &__actions {
      display: flex;
      padding-right: 0.875rem;

      & > .jenkins-button {
        padding: 0;
        aspect-ratio: 1;
      }

      &:empty {
        display: none;
      }
    }

    &__label {
      font-weight: var(--font-bold-weight);
      margin: 0;
    }

    &__description {
      display: flex;
      align-items: center;
      gap: 0.625rem;
      color: var(--text-color-secondary);
      margin: 0;
      white-space: nowrap;
      mask-image: linear-gradient(90deg, black calc(100% - 1rem), transparent);
      font-size: var(--font-size-xs);
      font-weight: normal;

      svg {
        width: 1rem;
        height: 1rem;
      }

      &:empty {
        display: none;
      }
    }

    &__compact-column {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }
  }
}

.build-status-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 1rem;
    height: 1rem;
  }
}

div.listview-jobs {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  &--nested {
    display: flex;
    flex-direction: column;
    border-left: 2px solid color-mix(in sRGB, var(--input-border), transparent);
    margin-left: 10px;
    padding-left: 22px;
  }
}

.jenkins-inline-page {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 1rem;

  @media (width <= 800px) {
    display: flex;
    flex-direction: column-reverse;
  }

  &__side-panel {
    display: flex;
    flex-direction: column;
  }
}

.db-blackstar {
  display: contents;
  border: 2px solid black;

  &:not(:last-of-type) {
    &::after {
      content: "";
      display: block;
      width: 3px;
      height: 3px;
      background: var(--text-color-secondary);
      border-radius: 100px;
      opacity: 0.5;
    }
  }

  &:empty {
    display: none;
  }
}
