#plugins {
  .app-plugin-manager__categories {
    display: flex;
    gap: 0.4375rem;
    flex-wrap: wrap;
    margin-block: 0.5rem;

    .jenkins-badge {
      margin: 0;
    }

    &:empty {
      display: none;
    }
  }

  tr.already-upgraded {
    background-color: var(--plugin-manager-bg-color-already-upgraded);
  }

  tr.deleted input,
  tr.deleted button,
  tr.deleted .jenkins-toggle-switch label {
    visibility: hidden !important;
  }

  .dependent-list,
  .dependency-list {
    display: none;
  }
}

.plugin-dependency-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.375rem 0.125rem;
  max-width: 350px;

  .dependent-list,
  .dependency-list {
    display: flex;
    gap: 0.4375rem;
    flex-wrap: wrap;

    .jenkins-badge {
      padding: 0.125rem 0.625rem;
    }
  }
}
