.app-branding {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: var(--standard-transition);
  z-index: 0;
  pointer-events: none;
  border-radius: var(--form-input-border-radius);

  &::before, &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
  }

  &::before {
    background:
            radial-gradient(circle at 20% 30%, var(--light-purple) 0%, transparent 65%),
            radial-gradient(circle at 75% 20%, var(--light-orange) 0%, transparent 65%),
            radial-gradient(circle at 30% 75%, var(--light-blue) 0%, transparent 60%),
            radial-gradient(circle at 80% 70%, var(--light-pink) 0%, transparent 65%);
    opacity: 0.5;
  }

  &::after {
    border: var(--jenkins-border--subtle);
  }

  .idk {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      opacity: 0.5;
      flex: 1;
      backdrop-filter: invert(3%) blur(50px);
      mask-image: repeating-conic-gradient(
                      from 0deg,
                      var(--background) 0deg,
                      transparent 20deg
      );
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-height: 80px;
      height: 60%;
      max-height: 250px
    }
  }
}
