.jenkins-japanese-breakfast {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: var(--form-input-border-radius);
  border: var(--card-border-width) solid var(--card-border-color);
  background: var(--card-background);

  &__item {
    -webkit-touch-callout: none;

    position: relative;
    user-select: none;
    padding: 0.875rem;
    align-items: start;
    gap: 0.25rem 0.875rem;
    display: grid;
    grid-template-columns: auto 1fr;
    white-space: unset;
    border-radius: 0;
    cursor: pointer;

    &:not(:last-of-type) {
      border-bottom: var(--card-border-width) solid var(--card-border-color);
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      transition: var(--standard-transition);
      background: transparent;
      box-shadow: 0 0 0 0.09375rem transparent, 0 0 0 0.5rem transparent;
    }

    &:hover {
      &::before {
        background: color-mix(in srgb, var(--text-color-secondary) 7.5%, transparent);
      }
    }

    &:active, &:focus-visible {
      z-index: 10;
      border-radius: calc(var(--form-input-border-radius) / 2);

      &::before {
        background: color-mix(in srgb, var(--text-color-secondary) 12.5%, transparent) !important;
        box-shadow:
                0 0 0 0.09375rem
                color-mix(
                                in sRGB,
                                var(--text-color-secondary) 20%,
                                var(--card-background)
                ),
                0 0 0 0.34375rem
                color-mix(
                                in sRGB,
                                color-mix(
                                                in sRGB,
                                                var(--text-color-secondary) 15%,
                                                var(--card-background)
                                )
                                65%,
                                transparent
                );
      }
    }

    &:focus {
      &::before {
        box-shadow: 0 0 0 0.2rem var(--text-color) !important;
      }
    }

    &:first-of-type {
      border-top-left-radius: calc(
              var(--form-input-border-radius) - var(--jenkins-border-width)
      ) !important;
      border-top-right-radius: calc(
              var(--form-input-border-radius) - var(--jenkins-border-width)
      ) !important;
    }

    &:last-of-type {
      border-bottom-left-radius: calc(
              var(--form-input-border-radius) - var(--jenkins-border-width)
      ) !important;
      border-bottom-right-radius: calc(
              var(--form-input-border-radius) - var(--jenkins-border-width)
      ) !important;
    }
  }
}
