.jenkins-notice {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  min-height: 15rem;
  background: var(--card-background);
  border-radius: var(--form-input-border-radius);
  font-size: var(--font-size-base);
  margin-bottom: var(--section-padding);
  font-weight: var(--font-bold-weight);
  padding: calc(var(--section-padding) * 2);
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    border: var(--card-border-width) solid var(--card-border-color);
    z-index: 1;
    pointer-events: none;
  }

  svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  &__description {
    color: var(--text-color-secondary);
    margin-top: -0.375rem;

    &:empty {
      display: none;
    }
  }
}
