@use "../abstracts/mixins";

$table-border-radius-inset: calc(
  var(--table-border-radius) - var(--jenkins-border-width)
);
$table-border: var(--jenkins-border-width) solid var(--card-border-color);

.jenkins-table {
  --table-padding: 0.5rem;
  --sortheader-transition: 0s;

  position: relative;
  width: 100%;
  background: linear-gradient(
    var(--table-background),
    var(--table-background) 4rem,
    var(--card-border-color) 4rem
  );
  border-radius: var(--table-border-radius);
  border-spacing: 0;
  background-clip: padding-box;
  margin-bottom: var(--section-padding);
  border: $table-border;

  * {
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
  }

  & > thead {
    & > tr {
      & > th {
        color: var(--table-header-foreground);
        text-align: left;
        padding-top: var(--table-padding);
        padding-bottom: var(--table-padding);
        padding-inline: 0.5rem;
        font-size: var(--font-size-sm);
        font-weight: var(--font-bold-weight);
        height: 2.5rem;

        &[align="center"] {
          text-align: center;
        }

        &[align="right"] {
          text-align: right;
        }

        &:first-of-type {
          padding-left: calc(var(--table-padding) * 2);
        }

        &:last-of-type {
          padding-right: var(--table-padding);
        }

        .sortheader {
          @include mixins.item($border: false);

          padding: 7px 0;
          margin-block: -7px;
          color: var(--table-header-foreground);
          font-weight: inherit;
          font-size: inherit;
          line-height: 1 !important;

          &::before,
          &::after {
            inset: 0 -10px;
            pointer-events: all;
          }

          &--up,
          &--down {
            &::before,
            &::after {
              right: -27px;
            }

            .sortarrow {
              opacity: 1 !important;
              scale: 1 !important;
              translate: 5px 0 !important;
            }
          }

          &--up {
            .sortarrow {
              rotate: 180deg;
            }
          }

          span.sortarrow {
            position: absolute;
            display: inline-flex;
            width: 0.875rem;
            height: 0.875rem;
            transition: var(--sortheader-transition);
            opacity: 0;
            scale: 0.5;
            translate: -5px 0;

            svg {
              width: 0.875rem;
              height: 0.875rem;
              transition: var(--sortheader-transition);
              opacity: 0.65;
            }
          }

          &:hover {
            svg {
              opacity: 1 !important;
            }
          }
        }

        svg {
          vertical-align: middle;
          width: 0.8rem;
          height: 0.8rem;
        }
      }
    }
  }

  & > tbody {
    & > tr {
      color: var(--table-body-foreground);
      background-color: var(--table-background);

      &:first-of-type > * {
        border-top: $table-border;

        // Style the rows so that the first and last have a larger border radius
        &:first-of-type {
          border-top-left-radius: $table-border-radius-inset;
        }

        &:last-of-type {
          border-top-right-radius: $table-border-radius-inset;
        }
      }

      &:last-of-type > * {
        &:first-of-type {
          border-bottom-left-radius: $table-border-radius-inset;
        }

        &:last-of-type {
          border-bottom-right-radius: $table-border-radius-inset;
        }
      }

      & > * {
        border-bottom: $table-border;
        background: var(--table-body-background);
        vertical-align: middle;
        padding: var(--table-padding) 0.5rem;
        height: 3rem;

        // Style the rows so that the first and last have a larger border radius
        &:first-of-type {
          border-top-left-radius: var(--table-row-border-radius);
          border-bottom-left-radius: var(--table-row-border-radius);
          border-left: $table-border;
          padding-left: calc(var(--table-padding) * 2);
        }

        &:last-of-type {
          border-top-right-radius: var(--table-row-border-radius);
          border-bottom-right-radius: var(--table-row-border-radius);
          border-right: $table-border;
          padding-right: var(--table-padding);
        }
      }

      & > th {
        background: color-mix(
          in sRGB,
          var(--table-background) 40%,
          var(--table-body-background)
        );
        color: var(--text-color-secondary);
        font-weight: var(--font-bold-weight);
        height: 2.5rem;
      }
    }
  }

  &__cell__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__cell--tight {
    text-align: center !important;
    white-space: nowrap;
    width: 3.25rem;
  }

  &__cell--checkbox {
    padding: calc(var(--table-padding) * 2) !important;
    vertical-align: top !important;
    width: calc((var(--table-padding) * 2) + 22px);
  }

  &__cell--no-wrap {
    white-space: nowrap;
  }

  &__button {
    display: inline-flex;
  }

  &__link {
    display: inline-flex;
  }

  &__link {
    .jenkins-menu-dropdown-chevron {
      top: 0;
    }
  }

  .jenkins-button {
    margin: -10px 0;
    padding: 0.5rem;
    min-height: 1.75rem;

    // Increase the size of symbols compared to regular buttons
    svg {
      width: 1.375rem !important;
      height: 1.375rem !important;
    }
  }

  &__button,
  &__icon {
    svg,
    .build-status-icon__wrapper,
    img {
      width: 1.375rem !important;
      height: 1.375rem !important;
    }
  }

  &--medium {
    --table-padding: 0.4rem !important;

    tbody > tr > td {
      height: 40px;
    }

    .jenkins-table__button,
    .jenkins-table__link,
    .jenkins-table__icon {
      svg,
      .build-status-icon__wrapper,
      img {
        width: 1.3rem !important;
        height: 1.3rem !important;
      }
    }

    .jenkins-button {
      padding: 0.4rem 0.6rem;

      svg {
        width: 1.3rem !important;
        height: 1.3rem !important;
      }
    }
  }

  &--auto-width {
    width: auto !important;
  }

  &--small {
    --table-padding: 0.2rem;

    tbody > tr > td {
      height: 34px;
    }

    .jenkins-table__button,
    .jenkins-table__link,
    .jenkins-table__icon {
      svg,
      .build-status-icon__wrapper,
      img {
        width: 1rem !important;
        height: 1rem !important;
      }
    }

    .jenkins-button {
      padding: 0.3rem 0.5rem;

      svg {
        width: 1rem !important;
        height: 1rem !important;
      }
    }
  }

  &__button,
  &__link {
    color: var(--link-color);
  }

  &__button,
  &__link {
    @include mixins.item($border: false);

    align-items: center;
    justify-content: center;
    appearance: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    background: transparent;
    text-decoration: none !important;
    line-height: 1 !important;
    transition: var(--standard-transition);

    &::before,
    &::after {
      inset: -7px -10px;
    }
  }

  &__badge {
    @include mixins.item;

    --item-background: color-mix(in sRGB, currentColor 5%, transparent);
    --item-background--hover: color-mix(in sRGB, currentColor 10%, transparent);
    --item-background--active: color-mix(
      in sRGB,
      currentColor 15%,
      transparent
    );
    --item-box-shadow--focus: color-mix(in sRGB, currentColor 5%, transparent);

    margin-left: 1rem !important;
    border-radius: 13px;

    &::before,
    &::after {
      inset: -5px -8px;
    }
  }
}
