@use "../abstracts/mixins";

.tabBarFrame {
  position: relative;
}

.tabBar {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  background: var(--button-background);
  border-radius: 100px;
  padding: 2px;
  gap: 2px;
  margin-bottom: var(--section-padding);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border: var(--jenkins-border);
    border-radius: inherit;
    pointer-events: none;
  }

  .tab {
    float: left;
  }
}

.tabBar .tab a {
  @include mixins.item($border: false);

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3rem;
  min-height: 36px;
  padding: 0 1.2rem;
  border-radius: 100px;
  color: var(--tabs-item-foreground);
  font-size: var(--font-size-sm);
  font-weight: 400;
}

.tabBar .tab .addTab svg {
  width: 1.25rem;
  height: 1.25rem;
}

.tabBar .tab [type="radio"] {
  display: none;
}

.tabBar .tab.active a {
  z-index: 2;
  cursor: default;
  font-weight: 450;

  &::before {
    background-clip: padding-box;
    background-color: var(--tabs-item-background--selected) !important;
  }

  &::after {
    display: none;
  }
}

.tabBarBaseline {
  border-top: var(--tab-baseline-width) solid var(--tab-baseline-color);
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;

  /* Baseline is hidden by default.  See next rule fo adding visibility. */
  display: var(--tab-baseline-default-display, none);
}

.tabBarFrame.showBaseline .tabBarBaseline {
  display: block;
}

.jenkins-tab-pane__title {
  font-size: 1.6rem;
  margin: 2.2rem 0 1.4rem;
  padding: 0;
}
