@use "abstracts";
@use "base";
@use "components";
@use "form";
@use "pages";

:root {
  --accent-color: red;
  --basey: var(--accent-color);

  --layer-1: color-mix(in srgb, var(--basey) 2.5%, #ffffff);
  --layer-10: color-mix(in srgb, var(--basey) 2.5%, #000000);
  --layer-2: color-mix(in srgb, var(--layer-1), var(--layer-10) 11.1%);
  --layer-3: color-mix(in srgb, var(--layer-1), var(--layer-10) 22.2%);
  --layer-4: color-mix(in srgb, var(--layer-1), var(--layer-10) 33.3%);
  --layer-5: color-mix(in srgb, var(--layer-1), var(--layer-10) 44.4%);
  --layer-6: color-mix(in srgb, var(--layer-1), var(--layer-10) 55.5%);
  --layer-7: color-mix(in srgb, var(--layer-1), var(--layer-10) 66.6%);
  --layer-8: color-mix(in srgb, var(--layer-1), var(--layer-10) 77.7%);
  --layer-9: color-mix(in srgb, var(--layer-1), var(--layer-10) 88.8%);
}
