.alert {
  font-size: var(--font-size-sm);
  padding: 1rem 1.2rem;
  margin-bottom: 20px;
  border-radius: 1rem;
  background: color-mix(in srgb, var(--alert-background) 7.5%, transparent);
  color: var(--alert-background);
  line-height: 1.66;
  font-weight: 450;

  &-success {
    --alert-background: var(--success-color);
  }

  &-info {
    --alert-background: var(--accent-color);
  }

  &-warning {
    --alert-background: var(--warning-color);
  }

  &-danger {
    --alert-background: var(--error-color);
  }

  strong {
    font-weight: 550;
  }

  p {
    color: inherit;
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      opacity: 0.75;
    }

    &:active,
    &:focus {
      opacity: 0.5;
    }
  }
}
