.jenkins-avatar-container {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 100%;
  overflow: hidden;

  img, svg, .jenkins-avatar {
    width: 100% !important;
    height: 100% !important;
  }
}

@keyframes spin {
  from {
    --gradient-angle: 0deg;
  }
  to {
    --gradient-angle: 360deg;
  }
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: true;
}

.jenkins-avatar {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 0.8125rem;
  background: linear-gradient(
    var(--gradient-angle),
    var(--gradient-1) -10%,
    var(--gradient-2)
  );

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
  }

  &::before {
    background: inherit;
    opacity: 0.6;
    box-shadow: inset 0 0 1px black;
  }

  &::after {
    background: radial-gradient(ellipse at top, white -10%, black 150%);
    mix-blend-mode: overlay;
    opacity: 0.5;
  }

  &--animated {
    animation: spin 5s linear infinite both;

    &::before {
      animation: rotate-bg 4s linear infinite;
    }
  }

  &__initials {
    position: relative;
    font-weight: 550;
    font-size: inherit;
    color: color-mix(in srgb, var(--white) 100%, transparent);
    z-index: 1;
    mix-blend-mode: overlay;

    //&::after {
    //  content: attr(data-initials);
    //  position: absolute;
    //  inset: 0;
    //  color: var(--white);
    //  mix-blend-mode: overlay;
    //  text-shadow: 0 0 1px black;
    //  opacity: 0.25;
    //}
  }

  @keyframes rotate-bg2 {
    0% {
      rotate: 0deg;
    }

    100% {
      rotate: -360deg;
    }
  }

  @keyframes rotate-bg {
    0% {
      rotate: 0deg;
    }

    100% {
      rotate: 360deg;
    }
  }
}
