@use "../abstracts/mixins";

$card-padding: calc(1rem + 2px);

.jenkins-card {
  position: relative;
  border-radius: 1rem;
  margin-bottom: calc(var(--section-padding) / 2);
  width: 390px;
  background: var(--card-background);

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc($card-padding - 3px) $card-padding;
    padding-bottom: calc($card-padding - 7px);
    font-size: var(--font-size-sm) !important;
    font-weight: 500;
    width: 100%;
    z-index: 1;

    &__actions {
      display: flex;
      gap: 0.5rem;
      margin: -5px -8px -5px 0;
    }

    &__action {
      @include mixins.item;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.625rem;
      height: 1.625rem;
      transition: var(--standard-transition);
      color: var(--text-color-secondary) !important;
      text-decoration: none !important;

      &::before, &::after {
        opacity: 0;
      }

      svg {
        width: 1.125rem;
        height: 1.125rem;
        color: var(--color);
        transition: color var(--standard-transition);
      }

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
        scale: 0.9;
      }
    }
  }

  &__content {
    padding: 0 $card-padding $card-padding $card-padding;
    color: var(--text-color-secondary);
    max-height: 40vh;
    overflow-x: hidden;
    overflow-y: auto;

    &:empty {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    border: var(--card-border-width) solid var(--card-border-color);
    z-index: 1;
    pointer-events: none;
  }

  &:hover {
    .jenkins-card__title__action {
      --color: var(--console-output-color);
    }
  }
}
