.alert {
  font-size: var(--font-size-sm);
  padding: calc(var(--section-padding) / 2) calc(var(--section-padding) / 1.5);
  margin-bottom: var(--section-padding);
  border-radius: 0.66rem;
  color: var(--background);
  font-weight: 500;
}

.alert a {
  color: inherit;
  text-decoration: underline;
  font-weight: 500;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

.alert-success {
  background: var(--success-color);
}

.alert-info {
  background: var(--accent-color);
}

.alert-warning {
  background: var(--warning-color);
}

.alert-danger {
  background: var(--destructive-color);
}
