.hetero-list-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: var(--section-padding);
  background: var(--item-background--hover);
  border-radius: 13px;
  padding: 4px;
}

.repeated-chunk {
  padding: 10px;
  background: var(--background);
  border-radius: 5px;

  &:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.repeated-chunk__header {
  display: flex;
  align-items: center;
  gap: 5px;

  .jenkins-button {
    width: 1.625rem;
    height: 1.625rem;
    padding: 0;
    min-height: 0;
    border-radius: 100px;
    justify-self: end;
    margin-left: auto;
  }
}

.dd-handle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  cursor: no-drop;
  margin-left: 6px;
  margin-right: 12px;

  div {
    width: 4px;
    height: 4px;
    border: 1px solid var(--text-color-secondary);
    border-radius: 100px;
  }
}
