@use "abstracts";
@use "base";
@use "components";
@use "form";
@use "pages";

.fooooorm {
  max-width: 1050px;
  margin: 0 auto;
}

.difficulty {
  max-width: 1150px;
  margin: 0 auto;
}

.pluginssss {
  max-width: 1250px;
  margin: 0 auto;
}
