@use "../base/breakpoints";

/* --------------- header --------------- */

#page-header .logo {
  margin-left: 1.2rem;
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
}

#jenkins-home-link {
  position: relative;
}

#jenkins-head-icon {
  height: 2.5rem;
}

#jenkins-name-icon {
  margin-left: 0.25rem;
}

/* -------------------------------------- */

.app-page-body {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1 0 auto;
}

.app-page-body__sidebar {
  @media (min-width: breakpoints.$tablet-breakpoint) {
    &--sticky {
      position: sticky;
      top: 44px;
      align-self: flex-start;
    }
  }
}

#page-body.clear::after {
  clear: both;
  content: "";
  display: table;
}

#side-panel {
  flex-shrink: 0;
}

#main-panel {
  padding: var(--section-padding);
  display: inline-block;
  width: 100%;
}

.app-page-body--one-column {
  --form-item-max-width: calc(85vw - 4rem);

  @media screen and (width <= 1200px) {
    --form-item-max-width: 100%;
  }

  max-width: 85vw;

  #main-panel {
    width: 100vw;
  }

  .jenkins-section {
    max-width: unset;
  }

  @media (width <= 1200px) {
    max-width: unset;
  }

  margin: auto;
}

body.two-column #main-panel {
  width: calc(100% - 320px);
  flex: 1;
  display: block;
}

body.full-screen {
  padding: 0;
}

body.full-screen #main-panel {
  padding: 0;
}

@media (max-width: breakpoints.$tablet-breakpoint) {
  body.two-column #page-body {
    flex-wrap: wrap;
  }

  body.two-column #side-panel {
    width: 100%;
    border-right: none;
  }

  body.two-column #main-panel {
    margin-left: 0;
    width: 100%;
  }
}

@media (width >= 1170px) {
  body.two-column #side-panel {
    width: 340px;
  }

  body.two-column #main-panel {
    width: calc(100% - 370px);
  }
}
