@use "../base/breakpoints";

/* -------------------------------------- */

.app-page-body {
  display: flex;
  justify-content: space-evenly;
  flex: 1 0 auto;
}

.app-page-body__sidebar {
  @media (min-width: breakpoints.$tablet-breakpoint) {
    &--sticky {
      position: sticky;
      top: var(--header-height);
      align-self: flex-start;
    }
  }
}

//#page-body.clear::after {
//  clear: both;
//  content: "";
//  display: table;
//}

#side-panel {
  flex-shrink: 0;
}

#main-panel {
  //padding: 0 var(--section-padding) var(--section-padding)
  //  var(--section-padding);
  display: inline-block;
  width: 100%;
}

.app-page-body--one-column {
  --form-item-max-width: calc(85vw - 4rem);

  @media screen and (width <= 1200px) {
    --form-item-max-width: 100%;
  }

  max-width: 85vw;

  #main-panel {
    width: 100vw;
  }

  .jenkins-section {
    max-width: unset;
  }

  @media (width <= 1200px) {
    max-width: unset;
  }

  margin: auto;
}

body.two-column #main-panel {
  //width: calc(100% - var(--side-panel-width));
  width: 1100px;
  display: block;
}

body.full-screen {
  padding: 0;
}

body.full-screen #main-panel {
  padding: 0;
}

body.two-column #side-panel {
  width: var(--side-panel-width);
}

@media (max-width: breakpoints.$tablet-breakpoint) {
  body.two-column #page-body {
    flex-wrap: wrap;
  }

  body.two-column #side-panel {
    width: 100%;
    border-right: none;
  }

  body.two-column #main-panel {
    margin-left: 0;
    //width: 100%;
    //width: 800px;
  }
}

.app-project-status-table {
  width: 100%;
  overflow-x: auto;
}
