#plugins {
  .app-plugin-manager__categories {
    margin: 0.5rem 0;

    a {
      margin: 0 1.25rem 0 0 !important;
      font-size: 0.75rem;
    }
  }

  tr.already-upgraded {
    background-color: var(--plugin-manager-bg-color-already-upgraded);
  }

  tr.all-dependents-disabled .enable input,
  tr.all-dependents-disabled .enable button,
  tr.all-dependents-disabled .enable .jenkins-toggle-switch label {
    pointer-events: auto !important;
    opacity: 1 !important;
    visibility: visible;
  }

  tr.has-dependents input,
  tr.has-disabled-dependency .enable input,
  tr.has-disabled-dependency .enable .jenkins-toggle-switch label,
  tr.has-dependents button,
  tr.has-dependents .enable button,
  tr.has-dependents .enable .jenkins-toggle-switch label {
    pointer-events: none;
    opacity: 0.25;
  }

  tr.has-dependents-but-disabled .enable input,
  tr.has-dependents-but-disabled .enable button,
  tr.has-dependents-but-disabled .enable .jenkins-toggle-switch label {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
  }

  tr.has-disabled-dependency .enable input,
  tr.has-disabled-dependency .enable button,
  tr.has-disabled-dependency .enable .jenkins-toggle-switch label {
    opacity: 0.4;
  }

  tr.deleted input,
  tr.deleted button,
  tr.deleted .jenkins-toggle-switch label {
    visibility: hidden !important;
  }

  .dependent-list,
  .dependency-list {
    display: none;
  }

  .enable-state-info,
  .uninstall-state-info {
    padding: 5px 20px;
    max-width: 70%;
    border: solid 1px var(--warning-color);
    border-radius: 3px;
    text-align: center;
  }

  .enable-state-info {
    float: left;
  }

  .uninstall-state-info {
    float: right;
  }


}

.plugin-dependency-info {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
  padding-block: 0.3rem;
  max-width: 350px;

  .subtitle {
    opacity: 0.85;
    color: var(--text-color-secondary);
  }

  .distant-axis {
    display: flex;
    gap: 0.4375rem;
    flex-wrap: wrap;

    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: color-mix(in srgb, var(--text-color-secondary) 7.5%, transparent);
      border: 1px solid color-mix(in srgb, var(--text-color-secondary) 2%, transparent);
      padding: 0.15rem 0.65rem;
      border-radius: 100px;
    }
  }
}
