@use "../abstracts/mixins";

.manage-messages a,
.manage-messages a:visited {
  color: inherit !important;
  text-decoration: none;
}

.manage-messages a:hover,
.manage-messages a:focus {
  text-decoration: underline;
}

.manage-messages dl:first-child {
  margin-top: 0;
}

.manage-messages dl dt:first-child {
  margin-top: 0;
}

.manage-messages dl dt {
  margin-top: 10px;
  font-weight: normal;
}

.manage-messages dl dd {
  margin-left: 15px;
}

.manage-messages dl:last-child {
  margin-bottom: 0;
}

.manage-messages dl dt::after {
  content: ": ";
}

.manage-messages {
  .alert:last-of-type {
    margin-bottom: 30px;
  }
}

.manage-messages .alert a {
  text-decoration: underline;
}

.manage-messages .alert a:hover {
  text-decoration: underline;
}

.manage-messages .alert form {
  position: relative;
  float: right;
  margin: -6px 0 0 !important;
  display: flex;
  gap: 0.5rem;

  & > div {
    display: contents;
  }
}

.manage-messages .alert form span {
  margin: 0 0 0 4px !important;
}

.wannaknowiwashere {
  margin: -0.5rem;
  margin-bottom: -1rem;
  height: 400px;
}

.jenkins-treeview__group {
    display: grid;
    justify-content: stretch;
    margin: -10px;
  margin-top: 0;

    .jenkins-treeview__group-inner {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding: 10px;
    }

    .jenkins-treeview__folder,
    .jenkins-treeview__item {
      @include mixins.item;
      display: flex;
      align-items: center;
      appearance: none;
      outline: none;
      border: none;
      background: transparent;
      cursor: pointer;
      margin: 0;
      -webkit-font-smoothing: subpixel-antialiased;
      padding: 0.25rem 0.2rem;
      border-radius: 0.66rem;
      font-weight: 400 !important;
      color: var(--text-color) !important;
      text-decoration: none;
      height: 1.5625rem;
      z-index: 1;
    }

    .jenkins-treeview__folder {
      gap: 0.25rem;

      .iconthing {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 0.875rem;
        rotate: 90deg;
        color: var(--text-color-secondary);
        transition: rotate var(--standard-transition);

        svg {
          width: 0.875rem;
          height: 0.875rem;
          margin-left: 1px;
        }
      }

      &--collapsed {
        .iconthing {
          rotate: 0deg;
        }
      }
    }

    .jenkins-treeview__item {
      padding-left: 6px;
    }

    .jenkins-treeview__group {
      grid-template-rows: 1fr;
      transition: var(--standard-transition);
      position: relative;
      padding-left: 18px;

      &::before {
        content: "";
        position: absolute;
        left: 20px;
        top: 12px;
        bottom: 12px;
        width: 2px;
        background: var(--item-background--hover);
        border-radius: 100px;
      }

      &--collapsed {
        grid-template-rows: 0fr;
        opacity: 0;
        scale: 0.95;
      }
    }
}
